{{ header }}
<div id="account-return" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
   {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <form  enctype="multipart/form-data" id="form-product-return">
    <div id="content" class="{{ class }}">{{ content_top }}
    <h1>{{ heading_title_request_list }}</h1>
    <hr>
    <h2>Order (#{{ order_id }})</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
             
              <td class="text-center" >{{ column_return_id }}</td>
              <td class="text-center" >{{ column_customer }}</td>
              <td class="text-center">{{ column_product }}</td>
              <td class="text-center">{{ column_quantity }}</td>
              <td class="text-center">{{ column_request_type }}</td>
              <td class="text-center">{{ column_return_reason }}</td>
              <td class="text-center">{{ column_status }}</td>
            </tr>
          </thead>
          <tbody>
          {% for product in products %}
            <tr>
              <td class="text-center">#{{ product.return_id }}</td>
              <td class="text-center">{{ product.firstname }}</td>
              <td class="text-center">{{ product.product }}</td>
              <td class="text-center">{{ product.quantity }}</td>
               <td class="text-center">{{ product.request_type }}</td>
              <td class="text-center">{{ product.reason }}</td>
              <td class="text-center">{{ product.status }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

         <div class="buttons clearfix">
          <div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
          <!--<div class="pull-right"><input type="submit" value="{{ button_submit }}" class="btn btn-primary" /></div>-->
        </div>

      {{ content_bottom }}</div></form>
    {{ column_right }}</div>

 <script type="text/javascript"><!--


$(".replace").on('change', function() {

 var id = this.name.replace("method","");
  $("#"+id+"checkbox").prop('checked', true);
  $("#"+id+"reason" ).prop('disabled', false);
  

});

$(".refund").on('change', function() {

 var id = this.name.replace("method","");
  $("#"+id+"checkbox").prop('checked', true);
  $("#"+id+"reason" ).prop('disabled', false);
  

});

$(".check_box").on('change', function() {
  var id = this.id.replace("checkbox","");
  
  if(this.checked){
  $("#"+id+"replace" ).prop('checked', true);
  $("#"+id+"reason" ).prop('disabled', false);
  }
  else{
     $("#"+id+"replace" ).prop('checked', false);
      $("#"+id+"refund" ).prop('checked', false);
      $("#"+id+"reason" ).prop('disabled', true);
  }
});

$("#header_checkbox").on('click', function(){

 $('input[name*=\'selected\']').prop('checked', this.checked);

if(this.checked){

 $('input[type=checkbox]').each(function () {
    var id = this.id.replace("checkbox","");
    $("#"+id+"replace" ).prop('checked', true);
  $("#"+id+"reason" ).prop('disabled', false);
   });
}
 else{
   $('input[type=checkbox]').each(function () {
    var id = this.id.replace("checkbox","");
    $("#"+id+"replace" ).prop('checked', false);
    $("#"+id+"refund" ).prop('checked', false);
    $("#"+id+"reason" ).val('Select Reason');
    $("#"+id+"reason" ).prop('disabled', true);
    });
}
});



 //--></script></div>
{{ footer }}  