{{ header }}
<style>
.faq .panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\f056";
    padding-right: 10px;
    
}
.faq .panel-title > a.collapsed:before {
    float: right !important;
    content: "\f055";
    
}
.faq h2 {
    color: #ff9800;
}
.faq a {
    text-decoration: none;
    display: block;
}
.faq .panel-default>.panel-heading {
    
    border-color: #ff9800;
}
h4.panelhead {
    margin: 0px !important;
    font-size:16px;
    line-height: 32px;
}
h4.panelhead1 {
    margin: 0px !important;
    font-size:16px;
    line-height: 18px;
}
.radio {
    margin: 0px  !important;
}
.storename{
  margin-left: 56px;
}
label.panlabel {
    font-size: 14px;
    line-height: 24px;
    margin: 0px 0 0 !important; 
}
select.form-control{
  font-size: 12px;
}
.caption{
  margin-top:9px;
}
@media (max-width:600px)  {
  .strpan{
  position: relative;
  top: -3px;

}
.caption{
  margin-top:2px;
}
h4.panelhead1 {
    margin: 0px !important;
    font-size:10px;
    line-height: 13px;
    color:black;
}
h4.panelhead {
    margin: 0px !important;
    font-size:10px;
    line-height: 21px;
}
.panelcol{
    padding-right: 3px !important; 
    padding-left: 4px !important; 
    
}
select.form-control{
  font-size: 9px;
}
.reason{
    margin-top: 5px;
    margin-left: -4px;
    height: 21px;
    
    padding: 0px 3px;
}
option{
max-width: 84%;
}
label.panlabel {
    font-size: 10px;
    line-height: 22px;
    margin: 0px 0 0 !important; 
}
.storename{
  margin-left: 0px;
}
.panrad {
    padding-left: 0px !important;
}
}

@media only screen and (width: 768px) and (height: 1024px) and (orientation:portrait) {
  .storename{
  margin-left: -42px;
}
}
@media only screen and (min-device-width: 834px) and (orientation: portrait) {
  .storename{
  margin-left: 10px;
}
 }
</style>
<div id="account-return" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}

 {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  
<div class="container">
 <h1>{{ heading_title_request_list }}</h1>
 <hr>
        <div class="row">
            <div class="col-xs-12">
                <div class="faq">
                    
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                     {% for store in stores %}
                      {% if true %}
                        <div class="panel panel-default">

                            <div class="panel-heading" role="tab" id="{{ store.store_name }}headingOne">
                              
                              <div class="row"  style="display:flex; align-items: center;">
                               <div class="col-md-2 col-sm-2 col-xs-3" >
                                  <img src="{{ store.store_logo }}" alt="" title="" class="img-responsive" />
                               </div>
                               
                               <div class="col-md-2 col-md-offset-8 col-sm-3 col-sm-offset-7 col-xs-5 col-xs-offset-4">
                                <h3 class="panel-title">
                                <a class="collapsed"  
                                data-toggle="collapse"
                                data-parent="#accordion" 
                                href="#store{{ store.store_id }}" 
                                aria-expanded="false" 
                                aria-controls="{{ store.store_name }}">
                                <strong class="storename">{{ store.store_name }}</strong></a>
                                </h3>
                               </div>

                              </div>
                            </div>
                            <div id="store{{ store.store_id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ store.store_name }}headingOne">
                              <div class="panel-body">
                                <form action = "{{ action }}" method = "post" enctype = "multipart/form-data" id = {{ store.store_id }}form >
                                  {% for product in productsList  %}
                                    {% if product.store_id == store.store_id and product.product_status == "7" %}
                                    
                                      <div class="row" style="display:flex; align-items: flex-start;">

                                        <div class="col-md-4 col-sm-4 col-xs-4 panelcol">
                                          <div class="image"><img src="{{ product.image }}" alt="" title="" class="img-responsive" /></div>
                                           <div class="caption">
                                             <h4 class="panelhead1">{{ product.name }}</h4>
                                           </div>  

                                        </div>

                                           <div class="col-md-2 col-sm-3 col-xs-3 panelcol">
                                             <div class="radio panrad">
                                                <label class="panrad">
                                                  <h4  class="panelhead"><strong>Quantity : </strong> {{ product.quantity }}</h4>
                            
                                                  <h4  class="panelhead"><strong>Total : </strong> &#x20b9; {{ product.total }}</h4>
                                                </label>
                                             </div>   
                                           </div>

                                        <div class="col-md-6 col-sm-4 col-sm-offset-1 col-xs-5 panelcol" >
                                          <div class="radio" style="float:right">
                                            <label class="panlabel">
                                              <strong  class="strpan">Replacement </strong> &nbsp;<input type="checkbox" name="{{product.product_id}}method{{ product.order_id }}" id = "{{product.product_id}}replace" class="replace" value="Replacement"  />
                                            </label>
                                             &nbsp;&nbsp;
                                            <label  class="panlabel">
                                               <strong  class="strpan">Refund </strong> &nbsp;<input type="checkbox" name="{{ product.product_id }}method{{ product.order_id }}" id = "{{product.product_id}}refund" class="refund" value="Refund" />
                                            </label>
                                            &nbsp;&nbsp;
                                            <label  class="panlabel">
                                              <select name="{{product.product_id}}reason" class="form-control reason" id="{{product.product_id}}reason" disabled>
                                                <option>Select Reason</option>
                                                  {% for return_reason in return_reasons %}
                                                    <option value="{{ return_reason.return_reason_id }}">{{ return_reason.name }}</option>
                                                  {% endfor %} 
                                              </select>
                                            </label>
                                                
                                            </div>
                                            <div class="pull-right" style="display:none">
                                              <a href="{{ continue }}" class="btn btn-primary">Track</a>
                                            </div>
                                          </div>
                                       </div> 
                                     
                                     <hr>  
                                     {% endif %}


                                     {% if product.store_id == store.store_id and product.product_status == "2" %}
                                      <div class="row">

                                        <div class="col-md-4 col-sm-4 col-xs-4 panelcol">
                                          <div class="image"><img src="{{ product.image }}" alt="" title="" class="img-responsive" /></div>
                                           <div class="caption">
                                             <h4   class="panelhead"><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                           </div>  

                                        </div>
                                         <div class="col-md-2 col-sm-2 col-xs-3 panelcol">
                                            <div class="radio panrad">
                                               <label>
                                                 <h4  class="panelhead"><strong>Quantity :</strong> {{ product.quantity }} </h4>
                                               <br>
                                                 <h4  class="panelhead"><strong>TOTAL :</strong> &#x20b9; {{ product.total }} </h4>
                                                </label>
                                             </div>   
                                           </div>

                                        <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 panelcol" >
                                          <div class="radio" style="float:right">
                                            <label>
                                              <h4  class="panelhead"><a href="{{ track_link }}" ><strong>Requested for {{ product.requested_action }} on : </strong>{{ product.date_added }}</a></h4>
                                            </label>
                                            
                                           </div>
                                           
                                         </div>
                                         
                                     </div> 
                                     
                                     <hr>  
                                     {% endif %}



                                     {% endfor %}
                                     <div class="buttons clearfix">
                                          <div class="pull-right"><input type="button"  name ={{store.store_id}}btn value="{{ button_submit }}" class="btn btn-primary validateReturnForm" /></div>
                                     </div>
                                      </form>

                                                                                                        

                                </div>
                             </div>
                        </div>
                      {% endif %}
                      {% endfor %}
                       
                    </div>
                </div>
            </div>
        </div>
    </div>


     
    <!--<div id="content" class="{{ class }}">{{ content_top }}-->
    <!--<h1>{{ heading_title_request_list }}</h1>
<hr>
    <h2>{{ heading_title_open_request_list }}</h2>
  
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
           <tr>
              <td class="text-center">{{ column_return_id }}</td>
               <td class="text-center">#{{ column_order_id}}</td>
               <td class="text-center">{{ column_order_store }}</td>
              <td class="text-center">{{ column_customer }}</td>
              <td class="text-center">{{ column_status }}</td>
              <td class="text-center">{{ column_date_requested }}</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
          {% if open_request %}
          {% for opened in open_request %}
          {% if opened.status == 'Request Submitted' %}
          <tr>
              <td class="text-center">#{{ opened.return_id }}</td
              <td class="text-center">#{{ opened.order_id }}</td>
            
              <td class="text-center">{{ column_order_store }}</td> 
              <td class="text-center">{{ opened.name }}</td>
              <td class="text-center"> Opened </td>
              <td class="text-center">{{ opened.date_added }}</td>
              <td class="text-right"><a href="{{ opened.href }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>

            </tr>
            {% endif %}
          {% endfor %}
            </tbody>
          
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination2 }}</div>
        <div class="col-sm-6 text-right"></div>
      </div>
      {% else %}
       <tr>
              <td class="text-center" colspan="8">No pending Requests</td>
              
            </tr>
            </tbody>
          
        </table>
      </div>
      {% endif %}-->



     <!-- <h2>{{ heading_title_order_list }}</h2>
      {% if returns %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
           <tr>
              <td class="text-right">{{ column_order_id }}</td>
               <td class="text-right">{{ column_order_store }}</td>
              <td class="text-right">{{ column_customer }}</td>
              <td class="text-right">{{ column_no_product }}</td>
              <td class="text-right">{{ column_status }}</td>
              <td class="text-right">{{ column_total }}</td>
              <td class="text-right">{{ column_date_added }}</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
          
          {% for return in returns %}
          {% if return.status == 'Delivered' %}
          <tr>
              <td class="text-right">#{{ return.order_id }}</td>
              <td class="text-right">{{ return.store_name }}</td>
              <td class="text-left">{{ return.name }}</td>
              <td class="text-right">{{ return.products }}</td>
              <td class="text-left">{{ return.status }}</td>
              <td class="text-right">{{ return.total }}</td>
              <td class="text-left">{{ return.date_added }}</td>
              <td class="text-right"><a href="{{ return.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
            </tr>
            {% endif %}
          {% endfor %}
            </tbody>
          
        </table>
      </div>-->
      <!--<div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
    {% else %}
     <p>{{ text_empty }}</p>
      {% endif %}
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>-->
      <!--</div>-->
    </div>
<script type="text/javascript"><!--


$(".replace").on('change', function() {

 // var id = this.name.replace("method","");
  var name = this.name.split('method');
  var id = this.id.split('replace');
  if(this.checked){
  $("#"+name[0]+"reason" ).prop('disabled', false);
  $("#"+id[0]+"refund").prop('checked', false);
  }
  else{
     $("#"+name[0]+"reason").prop('disabled', true);
     $("#"+name[0]+"reason").val('Select Reason');
  }

});

$(".refund").on('change', function() {

  var name = this.name.split('method');
  var id = this.id.split('refund');
  if(this.checked){
  $("#"+name[0]+"reason" ).prop('disabled', false);
  $("#"+id[0]+"replace").prop('checked', false);
  }
  else{
     $("#"+name[0]+"reason").prop('disabled', true);
     $("#"+name[0]+"reason").val('Select Reason');
  }
  

});


$(".validateReturnForm").on('click', function(){
  
  var submit = "Yes";
  $('.reason').css("border","1px solid silver");
  var name = this.name.split('btn');
  //alert(name[0]);
   var formData = $('#'+name[0]+'form').serializeArray();
   formData.forEach(function(val) {
     if(val['value'] == 'Select Reason'){

       //alert(val['name']);
       $('select[name='+val["name"]+']').css("border","1px solid red");
         
       submit = "no"

     }
     });
     if( submit  == "Yes" ){
        $("#"+name[0]+"form").submit();
     }
});
//--></script></div>
{{ footer }} 